.label {
	width: auto;
	/*margin-left: -100px;*/
	position: absolute;
	z-index: 1000;
	text-align: left;
	margin: 0px;
	background: #333;
	opacity: 0.9;
	padding: 2px;
	visibility: hidden;
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
	/*word-wrap: break-word;*/
	
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.label a {
	color: white;
}

.label a:hover {
	color: lightblue;
}

.labelInner {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	color: white;
	opacity: 2.0;
	margin: 5px;
}

.labelLine {
	/*border: 2px solid gold;*/
}
